# Kafka broker details
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_TOPIC=kafka_src_topic

# Event details
EVENT_BATCH_ID=v1
EVENT_COUNT=10000
TOTAL_USERS=5
SLEEP_MS=1
EVENT_TYPES=LOGIN,VIEW,ADD_TO_CART,IN_ACTIVE